.main {
  background-image: url("../../assets/georgia-bg.png"); /* Adjust path */
  background-size: cover;
  background-position: center;
  height: 576px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  position: relative;
}

.main__title {
  font-size: 60px;
  font-weight: 400;
  color: #ffffff;
  line-height: 64px;
  max-width: 608px;
  margin: 0 auto 16px;
  text-align: center;
}

.main__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  max-width: 608px;
  margin: 0 auto 88px;
  text-align: center;
}
