.modal__overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7); /* black overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal__content {
  background: #fff;
  padding: 20px;
  max-width: 420px;
  width: 90%;
  border-radius: 8px;
  position: relative;
}

.modal__close {
  position: absolute;
  top: -40px;
  right: -25px;
  background: url("../../assets/close-Icon.svg") no-repeat center;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  z-index: 1;
  background-size: cover;
}
