.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7); /* black overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: #fff;
  padding: 20px;
  max-width: 420px;
  width: 90%;
  border-radius: 8px;
  position: relative;
}

.modalClose {
  position: absolute;
  right: 8px;
  top: 8px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}
