.register__signup {
  width: 360px;
  height: 64px;
  background-color: #2f80ed;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 31px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.register__signup:hover {
  background-color: #1c6dd0;
}

/* Link to login */
.register__login-link {
  background: none;
  border: none;
  color: #2f80ed;
  font-size: 14px;
  margin-top: 16px;
  cursor: pointer;
  text-align: center;
  display: block;
}

.register__signIn {
  display: flex;
  justify-content: center;
}

.register__or-text {
  color: #000;
}

.register__modal-error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 8px;
}
